<!DOCTYPE html>

<html lang="en">
<head>
    <% include ./partials/head %>
    <title><%= title %></title>
</head>
<body>
    <% include ./partials/nav %>
    <div class="container">
        <div class="table-container d-flex flex-column align-self-center">
            <h1 class="align-self-center display-4 mb-4">Welcome, </h1>
            <div class="alert align-self-center">
                <alert></alert>
            </div>
            <div class="content-row button-row">
                <a href="/class/add" class="btn btn-default align-self-start mb-3">Add Class</a>
            </div>
            <table class="table table-bordered mb-5">
                <thead class="thead-default">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Day</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (this.classData != null && this.classData != '') { %>
                        <% for(let i; i < this.classData.length; i++) { %>
                            <tr>
                                <td><%= this.classData[i].id %></td>
                                <td><%= this.classData[i].user.fname + " " + this.classData[i].user.fname %></td>
                                <td><%= this.classData[i].day %></td>
                                <td><%= this.classData[i].startTime %></td>
                                <td><%= this.classData[i].endTime %></td>
                                <td><%= this.classData[i].session.location.roomNo %></td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

<script>
    let classData;
    DBGet('class', '', function (data) {
        classData = data;
        console.log(data);
    });
</script>